# NASA API — gere sua chave em api.nasa.gov
NASA_API_KEY=sua_chave_aqui

# Airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@local.com

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123